USE [master]
GO
/****** Object:  Database [TOEFL]    Script Date: 2017/12/23 22:32:04 ******/
CREATE DATABASE [TOEFL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOEFL', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TOEFL.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TOEFL_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TOEFL_log.ldf' , SIZE = 20480KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOEFL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOEFL]
GO
USE [TOEFL]
GO
/****** Object:  Table [dbo].[ArticleCollection]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCollection](
	[name] [nchar](20) NOT NULL,
	[id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[score] [int] NOT NULL,
 CONSTRAINT [PK_ArticleCollection] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComWritingAns]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComWritingAns](
	[name] [nchar](20) NOT NULL,
	[date] [date] NOT NULL,
	[id] [int] NOT NULL,
	[ans] [ntext] NOT NULL,
	[correct] [nchar](20) NULL,
	[score] [int] NULL,
	[comment] [ntext] NULL,
 CONSTRAINT [PK_ComWritingAns] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[date] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComWritingProblem]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComWritingProblem](
	[id] [int] NOT NULL,
	[setid] [int] NOT NULL,
	[subject] [nvarchar](20) NOT NULL,
	[stem] [ntext] NOT NULL,
	[lismaterial] [image] NOT NULL,
	[redmaterial] [ntext] NOT NULL,
	[model] [ntext] NULL,
 CONSTRAINT [PK_ComWritingProblem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComWritingSubject]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComWritingSubject](
	[subject] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ComWritingSubject] PRIMARY KEY CLUSTERED 
(
	[subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndWritingAns]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndWritingAns](
	[name] [nchar](20) NOT NULL,
	[date] [date] NOT NULL,
	[id] [int] NOT NULL,
	[ans] [ntext] NOT NULL,
	[correct] [nchar](20) NULL,
	[score] [int] NULL,
	[comment] [ntext] NULL,
 CONSTRAINT [PK_IndWritingAns] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[date] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndWritingProblem]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndWritingProblem](
	[id] [int] NOT NULL,
	[setid] [int] NOT NULL,
	[subject] [varchar](20) NOT NULL,
	[stem] [ntext] NOT NULL,
	[model] [ntext] NULL,
 CONSTRAINT [PK_IndWritingProblem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndWritingSubject]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndWritingSubject](
	[subject] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_IndWritingSubject] PRIMARY KEY CLUSTERED 
(
	[subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingAns]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingAns](
	[name] [nchar](20) NOT NULL,
	[date] [date] NOT NULL,
	[id] [int] NOT NULL,
	[ans] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ReadingAns] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[ans] ASC,
	[id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingArticle]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingArticle](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[setid] [int] NOT NULL,
	[subject] [nvarchar](20) NOT NULL,
	[article] [text] NOT NULL,
	[average] [float] NOT NULL,
	[questionid1] [int] NULL,
	[questionid2] [int] NULL,
	[questionid3] [int] NULL,
	[questionid4] [int] NULL,
	[questionid5] [int] NULL,
	[questionid6] [int] NULL,
	[questionid7] [int] NULL,
	[questionid8] [int] NULL,
	[questionid9] [int] NULL,
	[questionid10] [int] NULL,
	[questionid11] [int] NULL,
	[questionid12] [int] NULL,
	[questionid13] [int] NULL,
	[questionid14] [int] NULL,
 CONSTRAINT [PK_ReadingArticle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingArticleSubject]    Script Date: 2017/12/23 22:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingArticleSubject](
	[subject] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ReadingArticleSubject] PRIMARY KEY CLUSTERED 
(
	[subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingQuestion]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingQuestion](
	[id] [int] NOT NULL,
	[articleid] [int] NOT NULL,
	[num] [tinyint] NOT NULL,
	[type] [nvarchar](20) NULL,
	[paragraph] [int] NOT NULL,
	[paragraph2] [int] NULL,
	[stem] [ntext] NOT NULL,
	[option1] [ntext] NULL,
	[option2] [ntext] NULL,
	[option3] [ntext] NULL,
	[option4] [ntext] NULL,
	[option5] [ntext] NULL,
	[option6] [ntext] NULL,
	[option7] [ntext] NULL,
	[ans] [nchar](10) NOT NULL,
	[acc] [float] NULL,
	[analysis] [ntext] NULL,
 CONSTRAINT [PK_ReadingQuestion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingQuestionType]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingQuestionType](
	[type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ReadingQuestionType] PRIMARY KEY CLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSet]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSet](
	[id] [int] NOT NULL,
	[reading1] [int] NOT NULL,
	[reading2] [int] NOT NULL,
	[reading3] [int] NOT NULL,
	[indwritingid] [int] NOT NULL,
	[comwritingid] [int] NOT NULL,
 CONSTRAINT [PK_TestSet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[name] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[sex] [bit] NULL,
	[age] [tinyint] NULL,
	[testdate] [date] NULL,
	[time] [float] NOT NULL,
	[acc] [float] NOT NULL,
	[question_num] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSuggestion]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSuggestion](
	[name] [nchar](20) NOT NULL,
	[suggest] [ntext] NOT NULL,
	[date] [int] NOT NULL,
	[review] [ntext] NULL,
 CONSTRAINT [PK_UserSuggestion] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordCollection]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordCollection](
	[name] [nchar](20) NOT NULL,
	[word] [nchar](30) NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_WordCollection] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 2017/12/23 22:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[word] [nchar](30) NOT NULL,
	[trans] [nvarchar](50) NOT NULL,
	[example] [ntext] NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
