<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionString" value="Data Source=localhost;Initial Catalog=TOEFL;User Id=sa;Password=zhangzhuo"/>
    <add key="connectionString2" value="server=192.168.137.1;dataBase=TOFEL;uid=sa;pwd=zfy19970807"/>
  </appSettings>
</configuration>